@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  cursor: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiCiAgICAgICAgICAgICAgICB2aWV3Qm94PSIwIDAgOCA4Ij48Y2lyY2xlIGN4PSI0IiBjeT0iNCIgcj0iNCIgZmlsbC1ydWxlPSJldmVub2RkIiBmaWxsPSIjMGUxMDE2Ii8+PC9zdmc+) 1 1, auto;
  
}

body{
  background: url('./projects/nnnoise\ \(3\).svg');
}

 .nav, #footer{
  font-family: Syne, "Syne Fallback";
  font-weight: 800;
  backdrop-filter: blur(5px);
 }

 .mid{
  width: 35%;
 }
 .right{
  width: 10%;
 }

 .hero-border{
  margin-top: 140px;
 }

 .right div{
padding: 5px 10px;
 }

 .hero{
  display: flex;
  justify-content: space-around;
 }

 i{
  font-size: 20px;
  cursor: pointer;
 }

 #home img{
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
 }

 .exp-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 20px;
  margin-top: 5%;
 }

  .exp-grid .col{
  padding: 10px;
 }

 .pro-grid{
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 50px;
  row-gap: 40px;
 }

  .pro-grid div{
    height: 350px;
 }

 .pro-content{
  display: flex;
  justify-content: space-between;
 }
 .pro-img{
  width: 48%;
  height: 480px;
 }
 .pro-vid{
  object-fit: cover;
  width: 100%;
 }

 h6{
  margin: 0;
 }
 .sminput{
  width: 48.5%;
 }

